<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>CS157A project</display-name>
  <servlet>
    <servlet-name>searchFlights</servlet-name>
    <servlet-class>sjsu.cs157a.dbpro.servlet.SearchFlightsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>makeReservation</servlet-name>
    <servlet-class>sjsu.cs157a.dbpro.servlet.MakeReservationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>cancelReservation</servlet-name>
    <servlet-class>sjsu.cs157a.dbpro.servlet.CancelReservationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>passengerEditInfo</servlet-name>
    <servlet-class>sjsu.cs157a.dbpro.servlet.PassengerEditContactInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>employeeEditInfo</servlet-name>
    <servlet-class>sjsu.cs157a.dbpro.servlet.EmployeeEditContactInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>passengerSignIn</servlet-name>
    <servlet-class>sjsu.cs157a.dbpro.servlet.PassengerSignInServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>employeeSignIn</servlet-name>
    <servlet-class>sjsu.cs157a.dbpro.servlet.EmployeeSignInServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adminSignIn</servlet-name>
    <servlet-class>sjsu.cs157a.dbpro.servlet.AdministratorSignInServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>passengerRegister</servlet-name>
    <servlet-class>sjsu.cs157a.dbpro.servlet.PassengerRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>employeeRegister</servlet-name>
    <servlet-class>sjsu.cs157a.dbpro.servlet.EmployeeRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>passengerDashboard</servlet-name>
    <servlet-class>sjsu.cs157a.dbpro.servlet.PassengerDashboardServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>employeeDashboard</servlet-name>
    <servlet-class>sjsu.cs157a.dbpro.servlet.EmployeeDashboardServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>administratorDashboard</servlet-name>
    <servlet-class>sjsu.cs157a.dbpro.servlet.AdministratorDashboardServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>flightOperation</servlet-name>
    <servlet-class>sjsu.cs157a.dbpro.servlet.FlightOperationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ticketOperation</servlet-name>
    <servlet-class>sjsu.cs157a.dbpro.servlet.TicketOperationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>employeeOperation</servlet-name>
    <servlet-class>sjsu.cs157a.dbpro.servlet.EmployeeOperationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>sjsu.cs157a.dbpro.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>statistic</servlet-name>
    <servlet-class>sjsu.cs157a.dbpro.servlet.AdministratorStatisticsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>administratorView</servlet-name>
    <servlet-class>sjsu.cs157a.dbpro.servlet.AdministratorViewsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>administratorArchive</servlet-name>
    <servlet-class>sjsu.cs157a.dbpro.servlet.AdministratorArchiveServlet</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>searchFlights</servlet-name>
    <url-pattern>/searchflights</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>makeReservation</servlet-name>
    <url-pattern>/makeReservation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>cancelReservation</servlet-name>
    <url-pattern>/cancelReservation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>passengerEditInfo</servlet-name>
    <url-pattern>/editInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>employeeEditInfo</servlet-name>
    <url-pattern>/editEmployeeInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>passengerSignIn</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>employeeSignIn</servlet-name>
    <url-pattern>/employeesignin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adminSignIn</servlet-name>
    <url-pattern>/adminsignin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>passengerRegister</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>employeeRegister</servlet-name>
    <url-pattern>/employeeregister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>passengerDashboard</servlet-name>
    <url-pattern>/passengerdashboard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>employeeDashboard</servlet-name>
    <url-pattern>/employeedashboard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>administratorDashboard</servlet-name>
    <url-pattern>/administratordashboard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>employeeOperation</servlet-name>
    <url-pattern>/employeeoperation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>flightOperation</servlet-name>
    <url-pattern>/flightoperation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ticketOperation</servlet-name>
    <url-pattern>/ticketoperation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>statistic</servlet-name>
    <url-pattern>/statistic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>administratorView</servlet-name>
    <url-pattern>/administratorview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>administratorArchive</servlet-name>
    <url-pattern>/administratorarchive</url-pattern>
  </servlet-mapping>  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>